
/*
.header {
  width: 100%;
  height: 56px;
  color: #FFCDD2;
  background: #D32F2F;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 0 16px;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000; }
  .header .headerButton {
    width: 24px;
    position: fixed;
    top: 50%;
    left: 0;
    background: #9E9E9E;
    border-radius: 0px 40px 40px 0px;
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer; }

.header__title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  h1.article__title {
    font-size: 275%;
    margin-top: 73px;
    color: #FFCDD2;
    padding: 0px 30px;
  }
section.vertical-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  justify-content: center;
  text-align: center;
}
article{
  background: #F44336;
  color: #FFCDD2;
}
.vertical-container img.img__gift{
  margin: 0 auto;
    width: 170px;
    display: block;
    height: auto;
    margin-bottom: 30px;
}
.mensaje{
  width: 350px;
  margin: 0 auto;
}

.loader__spinner {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 
          width: 200px;
          height: 200px;}


.ico__update {
  border: 10px solid transparent;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 16px auto;
}
.ico__update:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 85%;
  height: 0;
  width: 0;
  border-left: 15px solid #FFFFFF;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ico__update:hover {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.74, 0.15, 0.1, 0.76);
}
*/






/* Here */

body {
  padding: 0;
  margin: 0;
}

.header_text > p {
  position: absolute;
  right: 0;
  font-family: 'Jua', sans-serif;
  padding: 5px 10px;
  margin: 20px 30px;
  border-bottom: 2px solid black;
}

.image_background {
  background: linear-gradient(
    to top,
    black, 
    transparent
  );
}

.image_background > img{
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.refresh_button {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 126px;
  left: 76px;
  background-color: black;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer; 
}

.ico__update {
  border: 10px solid transparent;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 16px auto;
}

.ico__update:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 85%;
  height: 0;
  width: 0;
  border-left: 15px solid #FFFFFF;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ico__update:hover {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.74, 0.15, 0.1, 0.76);
}

.breathing {
  width: 220px;
  height: 220px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 30px;  
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  animation: breathing 4s linear infinite;
}

.breathing > p {
  color: white;
  position: absolute;
  top: 55px; 
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Jua', sans-serif;
  font-size: 18px;
}

.card_container {
  width: auto;
  height: auto;
  background-color: white;
  opacity: 0.7;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: absolute;
}

.card_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  width: auto;
  height: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 250px;
  grid-template-rows: 30px 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.img_gift {
  width: 100px;
  height: 100px;
}

@keyframes breathing {
  0% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, .3),
                  0 0 0 30px rgba(0, 0, 0, .3),
                  0 0 0 45px rgba(0, 0, 0, .3),
                  0 0 0 60px rgba(0, 0, 0, .3),
                  0 0 0 75px rgba(0, 0, 0, .3)
  }
  50% {
      box-shadow: 0 0 0 25px rgba(0, 0, 0, .3),
                  0 0 0 50px rgba(0, 0, 0, .3),
                  0 0 0 75px rgba(0, 0, 0, .3),
                  0 0 0 100px rgba(0, 0, 0, .3),
                  0 0 0 125px rgba(0, 0, 0, .3)
  }
  100% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, .3),
                  0 0 0 30px rgba(0, 0, 0, .3),
                  0 0 0 45px rgba(0, 0, 0, .3),
                  0 0 0 60px rgba(0, 0, 0, .3),
                  0 0 0 75px rgba(0, 0, 0, .3)
  }
}